<h2>My Clients:</h2>

<button class="toggle-add-client" (click)="showAddClient = !showAddClient">
  {{ showAddClient ? '-' : '+' }}
</button>

@if (showAddClient) {
  <app-add-client (add)="add($event)"></app-add-client>
}



<div class="customers-container">
  <ul class="customers">
    @for (customer of customers; track customer) {
      <li>
        <a (click)="selectCustomer(customer)">
          <span class="badge">{{customer.id}}</span> {{customer.name}}
        </a>
        <button class="delete delete-btn" (click)="delete(customer)">
          <i class="fas fa-trash"></i>
        </button>
        <button class="edit" [routerLink]="['/detail', customer.id]">
          <i class="fas fa-pencil"></i>
        </button>
      </li>
    }
  </ul>

  @if (selectedCustomer) {
    <app-customer-display
      [customer]="selectedCustomer">
    </app-customer-display>
  }
</div>
