<h2>Dashboard</h2>

<div class="dashboard-stats">
  <div class="stat-card total-box">
    <h3>Total Clients</h3>
    <p>{{ totalClients }}</p> <!-- display total clients -->
  </div>

  <div class="stat-card active-box">
    <h3>Active Clients</h3>
    <p>{{ activeClients }}</p> <!-- display active clients -->
  </div>

  <div class="stat-card lead-box">
    <h3>Leads</h3>
    <p>{{ leadClients }}</p> <!-- display active clients -->
  </div>
</div>
<!-- other dashboard content -->
<!-- <app-client-pie-chart [pieChartLabels]="pieLabels" [pieChartData]="pieData"></app-client-pie-chart> -->


<!-- <app-customer-search></app-customer-search> -->


